.main-section{

  .sidebar{
    .parent{
      a{
        font-weight: 500;
        color: #3c415d;
        text-transform: uppercase;
      }
    }
    .child{
      margin-left: .5rem;
      a{
        color: #5d648e;
        font-size: 14px;
      }
      a:hover{
        color: #3c415d;
      }
      .nav-link{
        padding-top:.1rem;
        padding-bottom: .5rem;
      }
    }
    height: 91vh;
    overflow: auto;
    box-shadow: 2px 0 2.94px 0.06px rgba(4, 26, 55, 0.16);
  }
}


